.educationSection {
    padding: 3vw;
    height: 40vw;
}

.sectionHeader {
    display: flex;
    height: 10vw;
    margin-bottom: 3vw;
}

.headerImg {
    height: 10vw;
    width: 7vw;
    align-self: center;
    justify-self: center;
}

.headerTitle {
    font-size: 3vw;
    color: white;
    align-self: center;
    justify-self: center;
    margin-left: 1vw;
    font-family: 'Press Start 2P', cursive;
}



.eduDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}


.eduCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5vw;
    border-radius: 2vw;
    
    
    
   
}


.eduImg {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    align-self: center;
}

.eduDetails {
    display: none;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: 1s ease;


}

.eduCard:hover .eduDetails {
    visibility: visible;
    display: flex;
    flex-direction: column;
    transition: 1s ease;
    opacity: 1;

}


.eduCard:hover {
    background-color: white;
    width: 25vw;
    height: 25vw;
    transition: 1s ease;
    opacity: 1;
    visibility:visible;
    display: flex;

}

.eduCard:hover .eduImg {
    transition: 1s ease;

}
.eduTitle{
    font-size: 1.25vw;
}

.eduText{
    font-size: 1vw;
}
@media only screen and (max-width:650px) {
    .sectionHeader {
        margin-bottom: 5vw;
    }

    .headerImg {
        height: 13vw;
        width: 10vw;
    }

    .headerTitle {
        font-size: 5vw;
        margin-left: 2vw;
    }


    .eduImg {
        height: 15vw;
        width: 15vw;

    }

    .span {
        display: none;
    }
}