:root {
  --one: #201E1F;
  --two: #87F1FF;
}

html, body {
  background-color: var(--one);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Impact', sans-serif;
  letter-spacing: .05vw;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}