:root {
  --one: #201E1F;
  --two: #87F1FF;
}

html, body {
  background-color: var(--one);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  letter-spacing: .05vw;
}

*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background: var(--two);
}

*::-webkit-scrollbar-track {
  background: var(--one);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}