.header {
    height: 35vw;
    width: 100vw;
    padding-left: 12vw;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    color: white;
    font-size: 7vw;
    justify-self: center;
    align-self: center;
    padding-left: 2vw;
    margin-top: 0vw;
}

.first {
    align-self: flex-start;
    border-top: .5vw dashed white;
    border-left: .5vw dashed white;
    padding: 1.33vw;
}

.last {
    align-self: center;
    border-bottom: .5vw dashed white;
    border-right: .5vw dashed white;
    z-index: 4;
}

.me {
    position: absolute;
    width: 17vw;
    height: 17vw;
    top: 3vw;
    right: 30vw;
    border-radius: 50%;
    padding: 3vw;
    background-color: var(--two);
}

.smallIcon {
    position: absolute;
    height: 7.5vw;
    width: 7.5vw;
}

.spin {
    animation: spin 4s 2s infinite;
}

.scale {
    animation: scale 4s infinite;
}

.code {
    top: 15vw;
    left: 7vw;
    z-index: 1;
}

.bitcoin {
    top: 22vw;
    left: 33vw;
}

.cloud {
    top: 3vw;
    right: 25vw;
}

.check {
    right: 5vw;
    top: 10vw;
}

.browser {
    top: 26vw;
    right: 3vw;
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(-30deg) scale(0);
        opacity: 0;
    }
    50% {
        transform: rotate(30deg) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(-30deg) scale(0);
        opacity: 0;
    }
}

@media only screen and (max-width:650px) {
    .header {
        height: 45vw;
    }
    .name {
        font-size: 8vw;
    }
    .smallIcon {
        height: 10vw;
        width: 10vw;
    }
    .code {
        top: 25vw;
    }
    .bitcoin {
        top: 35vw;
        left: 15vw;
    }
    .cloud {
        top: 8vw;
        right: 30vw;
    }
    .check {
        top: 17vw;
        right: 10vw;
    }
    .browser {
        top: 38vw;
        right: 10vw;
    }
}