.languagesSection {
    padding: 3vw;
}

.languagesList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.language {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.languageImg {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
}

.languageTitle{
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
}

@media only screen and (max-width:650px) {
    
}