.linksSection {
    padding: 3vw;
}

.linksList {
    display: grid;
    margin: auto;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.linkCard {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    border-radius: 1vw;
    cursor: pointer;
}

.cardImg {
    height: 8vw;
    width: 8vw;
    margin-top: 1vw;
    align-self: center;
}

.cardName {
    text-align: center;
    color: white;
    font-size: 2vw;
}

@media only screen and (min-width:650px) {
    .linkCard:hover .cardImg {
        transform: translateY(-1vw);
        height: 8.75vw;
        width: 8.75vw;
        margin-top: 0vw;
        transition: 600ms ease;
    }
}

@media only screen and (max-width:650px) {
    
    .linksList {
        grid-template-columns: 1fr 1fr;
    }
    .linkCard {
        width: 25vw;
        height: 25vw;
    }
    .cardImg {
        height: 12vw;
        width: 12vw;
        margin-top: 2vw;
    }
    .cardName {
        font-size: 2.5vw;
    }
}