.nav {
    height: 4vw;
    background-color: var(--two);
    border-radius: 1.7vw;
    display: block;
    margin: auto;
    width: 98%;
    position: -webkit-sticky;
    position: sticky;
    overflow-x: visible;
    top: 0.2vw;
    z-index: 10000000;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.navItem{
    color: var(--one);
    font-size: 1.65vw;
}


@media only screen and (max-width:650px) {
    .nav {
        height: 8vw;
        border-radius: 1.7vw;
        width: 98%;
        top: 0.2vw;
      
    }

    
    .navItem{
       
        font-size: 2.5vw;
    }

}