.techSection {
    padding: 3vw;
}

.techGrid {
    display: grid;
    margin: auto;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    row-gap: 3vw;

}

.gridItem {
    background-color: white;
    height: 15vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    border-radius: 2vw;
    font-size: 1vw;
}
.gridItemImg{
    height: 7.5vw;
    width: 7.5vw;
}

@media only screen and (max-width:650px) {
    
    .gridItemImg{
        height:6vw;
        width: 6vw;
    }

    .gridItem{

        font-size: 1.25vw;
    }


}