.techSection {
    padding: 3vw;
}

.sectionHeader {
    display: flex;
    height: 10vw;
    margin-bottom: 3vw;
}

.headerImg {
    height: 7vw;
    width: 7vw;
    align-self: center;
    justify-self: center;
}

.headerTitle {
    font-size: 3vw;
    color: white;
    align-self: center;
    justify-self: center;
    margin-left: 1vw;
    font-family: 'Press Start 2P', cursive;
}

.techGrid {
    display: grid;
    margin: auto;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    row-gap: 3vw;

}

.gridItem {
    background-color: white;
    height: 15vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    border-radius: 2vw;
    font-size: 1vw;
}
.gridItemImg{
    height: 7.5vw;
    width: 7.5vw;
}

@media only screen and (max-width:650px) {
    .sectionHeader {
        margin-bottom: 5vw;
    }
    .headerImg {
        height: 10vw;
        width: 10vw;
    }
    .headerTitle {
        font-size: 5vw;
        margin-left: 2vw;
    }
    .gridItemImg{
        height:6vw;
        width: 6vw;
    }

    .gridItem{

        font-size: 1.25vw;
    }


}